@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: #F4F3EF;
    font-family: Outfit, sans-serif;           
} 
   
.LoginForm {
    width: 350px;
    padding: 15px;
}

.logo {
    width: 300px;
    height: 200px;
    margin: 10px ;
}

.myHomeStyle {
    background-color: #00A8A8;
    color: #ffffff;
    border: 1px solid #00A8A8;
    border-radius: 10px;
    padding: 7px;
    font-size: 21px;

}

.btn-myhome {
    background-color: #F8FAFC;
    color: #1E293B;            
    border: 1px solid #E2E8F0;
}

.btn-myhome:hover {
    background-color: #F1F5F9;
    border-color: #CBD5E1;
    color: #0f172a;
}

.btn-myhome:active, .btn-myhome:focus {
    background-color: #E2E8F0 ;
    border-color: #94A3B8;
    color: #0f172a;
    box-shadow: 0 0 0 0.25rem rgba(226, 232, 240, 0.5);
}

.erro {
    background-color: rgb(192, 37, 37);
    color: #F4F3EF;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}